/* {
	border: 1px solid red;
}*/


@font-face {
    font-family: minotaur;
    src: url('Minotaur/minotaur.ttf');
}


.swagner{
	font-family: minotaur;
	font-size: 100px;
	color: #bbb;
	z-index: -100;
	position: relative;
	left: 0;
	right: 0;
	display: block;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 20px;
}




.container {
	width: 900px;
	margin: 0 auto;
}

nav {
	top: -60px;
	text-align: center;
	margin-left: -47px;
	position: relative;
}

nav ul li{
	display: inline-block;
	padding: 50px;
	letter-spacing: 2px;
	font-size: 25px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover{
	border-top: 3px solid red;
}

h2 {
	letter-spacing: 5px;
	text-transform: capitalize;
	text-decoration: overline;

}

p a {
	text-decoration: none;
	color: black;
}

p {
	padding: 0px;
}

p a:hover {
	text-decoration: underline;
}

p span {
	text-transform: bold;
	font-size: 40px;
}

img {
	border: 5px double #222;
	display: block;
	margin: 0 auto;
}

h4 {
	text-align: center;
	letter-spacing: 6px;
	text-decoration:overline;
}


h6 {
	margin: 0;
	padding-top: 28px;
	padding-bottom: 7px;
	font-weight:bold;
	text-transform: capitalize;
	text-decoration: overline;
	line-height: 10px;
}

#column2 h6 a {
	text-decoration: none;
	color: black;

}

#column2 h6 a:hover{
	/*text-decoration: underline;*/
	color: #444;
	border-top: 3px solid gray;
}


#column1 {
	width: 560px;
	font-size: 28px;
	float: left;
	display: inline-block;
	margin-top: -80px;
}

#column1 h2 a {
	text-decoration: overline;
	color: black;
}

#column1 h2 a:hover {
	/*text-decoration: underline;*/
	color: #444;
	border-top: 3px solid gray;
}

#column2 {
	width: 220px;
	font-size: 18px;
	font-weight: italic;
	background-color: #ccc;
	border: 2px solid #999;
	border-radius: 6px;
	float: right;
	display: inline-block;
	padding: 20px;
}

#column2 h5 {
	margin: 0;
	letter-spacing: 6px;
	text-align: justify;
}

#column2 p {
	margin: 0;
}


#onionlink {
	display: block;
	text-align: center;
	position: relative;
	top: -15px;
	left: 0px;
	right: 0px;
	text-decoration: none;
	color: black;
}

#onionlink:hover {
	text-decoration: underline;
}

#onion {
	position: relative;
	top: -10px;
	left: 0px;
	right: 0px;

}

#volelink {
	display: block;
	text-align: center;
	position: relative;
	top: 70px;
	left: 0px;
	right: 0px;
	text-decoration: none;
	color: black;
}

#volelink:hover {
	text-decoration: underline;
}

#vole {
	position: relative;
	top: 80px;
	left: 0px;
	right: 0px;
}


#nycdalink {
	display: block;
	text-align: center;
	position: relative;
	top: 160px;
	left: 0px;
	right: 0px;
	text-decoration: none;
	color: black;
}

#nycdalink:hover {
	text-decoration: underline;
}

#nycda {
	position: relative;
	top: 170px;
	left: 0px;
	right: 0px;
}

#phot1{
	top: 40px;
	display: block;
	padding-bottom: 50px;
}

#phot1 img {
	margin-bottom: 15px;
}


#phot1 p{
	text-align: center;
	color: #444;
}

#phot2{
	top: 40px;
	display: block;
	padding-bottom: 50px;
}

#phot2 img {
	max-width: 900px;
	height: auto;
}


#phot2 p{
	text-align: center;
	color: #444;
}



#phot3{
	top: 40px;
	display: block;
	padding-bottom: 50px;
}

#phot3 img {
	margin-bottom: 15px;
}


#phot3 p{
	text-align: center;
	color: #444;
}


#aboutfooter {
	height: 100px;
	width: 250px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	/*position: absolute;*/
	/*float: left;*/
	position: relative;
	top: 150px;
	left: 80px;
}

#aboutfooter a {
	text-decoration: none;
	color: black;
	letter-spacing: -1px;
	font-size: 25px;

}

#aboutfooter a:hover {
	text-decoration: underline;
}



#photofooter {
	height: 100px;
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

#photofooter a {
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	font-size: 25px;

}

#photofooter a:hover {
	text-decoration: underline;
}


#foliofooter {
	height: 100px;
	width: 900px;
	left: 0;
	right: 0;
	top: 280px;
	text-align: center;
	position: relative;
}

#foliofooter a {
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	font-size: 25px;

}

#foliofooter a:hover {
	text-decoration: underline;
}