.container {
	width: 900px;
	margin: 0 auto;
}

nav {
	text-align: center;
	margin-left: -47px;
}

nav ul li{
	display: inline-block;
	padding: 50px;
	letter-spacing: 2px;
	font-size: 25px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover{
	border-top: 3px solid red;
}

p a {
	text-decoration: none;
	color: black;
}

p a:hover {
	text-decoration: underline;
}

img {
	border: 5px double #222;
	display: block;
	margin: 0 auto;
}


#column1 {
	width: 560px;
	font-size: 28px;
	float: left;
	display: inline-block;
}

#column2 {
	width: 220px;
	font-size: 20px;
	background-color: #aaa;
	border: 2px solid #555;
	border-radius: 6px;
	float: right;
	display: inline-block;
	padding: 20px;
}

iframe {

	width:1024px; 
	height: 768px;
	
	-webkit-transform:scale(0.4);
}


#onionlink {
	display: block;
	text-align: center;
	position: absolute;
	top: 195px;
	left: 0px;
	right: 0px;
	text-decoration: none;
	color: black;
}

#onionlink:hover {
	text-decoration: underline;
}

#onion {
	position: absolute;
	top: -10px;
	left: 0px;
}

#volelink {
	display: block;
	text-align: center;
	position: absolute;
	top: 605px;
	left: 0px;
	right: 0px;
	text-decoration: none;
	color: black;
}

#volelink:hover {
	text-decoration: underline;
}

#vole {
	position: absolute;
	top: 400px;
	left: 0px;
}


#nycdalink {
	display: block;
	text-align: center;
	position: absolute;
	top: 1005px;
	left: 0px;
	right: 0px;
	text-decoration: none;
	color: black;
}

#nycdalink:hover {
	text-decoration: underline;
}

#nycda {
	position: absolute;
	top: 800px;
	left: 0px;
}

#phot1{
	top: 40px;
	display: block;
	padding-bottom: 50px;
}

#phot2{
	top: 40px;
	display: block;
	padding-bottom: 50px;
}

#phot3{
	top: 40px;
	display: block;
	padding-bottom: 50px;
}

#foliofooter {
	height: 100px;
	width: 900px;
	margin: 0 auto;
	position: absolute;
	top: 1400px;
	text-align: center;
}

#foliofooter a {
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	font-size: 25px;

}

#foliofooter a:hover {
	text-decoration: underline;
}